#### The data is the price history and trading volumes of the fifty stocks in the index NIFTY 50 from NSE (National Stock Exchange) India. All datasets are at a day-level with pricing and trading values split across .cvs files for each stock along with a metadata file with some macro-information about the stocks itself. The data spans from 1st January, 2000 to 30th April, 2021.

In [1]:
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('NIFTY50_all.csv')
df.head()

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2007-11-27,MUNDRAPORT,EQ,440.00,770.00,1050.00,770.0,959.0,962.90,984.72,27294366,2.687719e+15,NaN,9859619.0,0.3612
1,2007-11-28,MUNDRAPORT,EQ,962.90,984.00,990.00,874.0,885.0,893.90,941.38,4581338,4.312765e+14,NaN,1453278.0,0.3172
2,2007-11-29,MUNDRAPORT,EQ,893.90,909.00,914.75,841.0,887.0,884.20,888.09,5124121,4.550658e+14,NaN,1069678.0,0.2088
3,2007-11-30,MUNDRAPORT,EQ,884.20,890.00,958.00,890.0,929.0,921.55,929.17,4609762,4.283257e+14,NaN,1260913.0,0.2735
4,2007-12-03,MUNDRAPORT,EQ,921.55,939.75,995.00,922.0,980.0,969.30,965.65,2977470,2.875200e+14,NaN,816123.0,0.2741

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
218892,2019-10-17,UPL,EQ,588.75,585.00,593.70,580.35,590.60,591.95,587.83,2290127,1.346216e+14,54944.0,919044.0,0.4013
226418,2007-05-03,WIPRO,EQ,571.60,577.00,584.95,566.50,570.10,570.90,571.58,1243456,7.107295e+13,NaN,747217.0,0.6009
117574,2001-07-19,IOC,EQ,149.40,147.05,147.90,145.50,147.00,146.30,146.68,3633,5.329026e+10,NaN,NaN,NaN
48738,2020-10-30,COALINDIA,EQ,110.85,111.60,115.20,111.05,114.65,114.20,113.74,17774954,2.021768e+14,66576.0,2601039.0,0.1463
144315,2013-06-06,M&M,EQ,986.55,982.00,999.00,972.25,992.30,991.20,987.60,888471,8.774546e+13,33075.0,320983.0,0.3613